<!--BEGIN e9_tags_js-->
:javascript
  var tag_template = "#{escape_javascript(tag_template(f.object).html_safe)}";
<!--END e9_tags_js-->

%fieldset.tags
  %legend= label_tag 'add-tag-fld', t(:tags_name, :scope => :e9_tags)
  #tag-fields
    - if local_assigns[:context]
      = hidden_field_tag 'tag-context', humanize_context(*local_assigns[:context])
    - else
      .actions
        %input{:type => "checkbox", :id => "tag-context-hidden-cb"}
      .field
        = label_tag 'tag-context', t(:tag_context_name, :scope => :e9_tags).singularize
        = text_field_tag 'tag-context', nil
    .field
      = label_tag 'add-tag-fld', t(:tags_name, :scope => :e9_tags).singularize
      = text_field_tag 'add-tag-fld', nil
    .actions
      %button#add-tag-btn= t(:add_tag_link, :scope => :e9_tags)
      -# NOTE this escaping bit doesn't work without a tooltips plugin (browser does not render HTML in default title tooltips)
      - t = raw t(:tag_instructions, :scope => :e9_tags).gsub('"', '&quot;')
      <button title="#{t}" rel="tooltip">?</button>

  #tag-contexts{:class => local_assigns[:context] ? 'locked-context' : nil }
    - f.object.tagging_contexts(:show_all => true).each do |context|
      - h_context = humanize_context(context)
      %div{:id => "#{context}-context-list", :class => 'context-list'}
        %span.context-header= h_context unless local_assigns[:context]
        %ul
          - f.object.tag_list_on(context).each do |tag_word|
            = tag_template(f.object, tag_word, h_context, context)
